:root {
  --display-menu: none;
}

body {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.c-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #2a2a2a;
  padding: 22px 16px;
  position: relative;

  .list-links {
    display: flex;

    .item-link {

      a {
        color: #cfcfcf;
        transition: 0.4s color;
        padding: 10px;
        font-size: 16px;

        &:hover {
          color: #bd8739;
          transition: 0.4s color;
        }
      }

      &:not(:last-child) {
        border-right: 1px solid #6C6C6C;
      }
    }
  }

  .header-side {
    display: flex;
    align-items: center;
    gap: 10px;


    .menu-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .social-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }



  .app-font-icon:hover {
    &:before {
      color: #BD8739;
      transition: 0.4s;
    }
  }

  .menu-wrapper {
    display: var(--display-menu);
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1F1F1F;
    width: 200px;
    height: 400px;
    z-index: 2;
    overflow: auto;

    .close-icon {
      color: white;
      font-weight: 300;
      position: absolute;
      right: 20px;
      top: 20px;
      padding: 10px;
      cursor: pointer;
      user-select: none;
      transition: 0.5s color;

      &:hover {
        color: #bd8739;
        transition: 0.2s color;
      }
    }

    .menu-list {
      margin-top: 20px;
      margin-bottom: 10px;

      .item-link {
        a {
          display: block;
          width: 70%;
          padding: 10px;
          color: white;
          transition: 0.5s color;
          font-size: 16px;

          &:hover {
            color: #bd8739;
            transition: 0.2s color;
          }
        }

      }
    }

    .list-links {
      margin-bottom: 10px;

      .item-link {
        a {
          width: 70%;
          color: white;
        }
      }
    }
  }

  .slideIn {
    animation: slideIn .6s ease-in-out;
    display: block;
  }

  .slideOut {
    transform: translateX(100%);
    transition: 0.4s;
  }
}

.c-main {
  position: relative;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  bottom: 80px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  background-color: white !important;
  opacity: unset !important;
  box-shadow: 0 0 20px 0 #000000;
}

.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  border: 2px solid white !important;
  background: transparent !important;
}

.picture {
  height: 100%;
}

.scroll-button {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: 0.4s transform;
  padding: 20px;

  &:hover {
    transform: translateY(20px);
    transition: 0.4s transform;
  }

  .app-font-icon {
    color: #BD8739;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.story-section {
  background-color: #1F1F1F;
  background-image: url("../../assets/images/R_graphic_element.svg");
  background-repeat: no-repeat;
  background-position: -300px 0;
  background-size: contain;
}

.section-wrapper {
  max-width: 1112px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.section-text {
  flex: 0.5;

  .section-title {
    color: #886C47;
    font-size: 40px;
  }

  .section-description {
    color: white;
    line-height: 1.5;
  }
}

.section-image {
  flex: 0.5;
}

.swiper {
  width: 100%;
}

.u-flow-fluid > * + * {
  margin-top: 20px;
}

.swipe-item {
  position: relative;
  height: 100%;
  width: 100%;

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.swipe-content {
  position: absolute;
  top: 47%;
  right: 50%;
  transform: translate(50%, -50%);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  line-height: 1.2;
}

.swipe-title {
  font-size: clamp(30px, 5vw, 72px);
  color: white;
}

.swipe-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: white;
  margin-top: 30px;
  font-size: clamp(16px, 5vw, 24px);

  &:after {
    display: inline-block;
    content: "";
    width: clamp(60px, 8vw, 100px);
    height: 2px;
    background-color: white;
    box-shadow: 0 0 10px #8a8a8a;
  }

  &:before {
    display: inline-block;
    content: "";
    width: clamp(70px, 5vw, 100px);
    height: 2px;
    background-color: white;
    box-shadow: 0 0 10px #8a8a8a;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media (max-width: 1200px) {
  .section-wrapper {
    padding-inline: 20px;
    //flex-direction: column-reverse;
    .section-text {
      flex: unset;
    }

    .section-image {
      flex: unset;
      width: 40%;
    }
  }
}

@media (max-width: 700px) {
  .section-wrapper {
    flex-direction: column-reverse;
  }
  .section-image {
    width: 80% !important;
  }
}

@media (max-width: 620px) {
  .list-links {
    display: none !important;
  }
  .menu-wrapper {
    .social-list {
      display: flex !important;
      flex-direction: column;
      align-items: revert;
      gap: 20px;

      li {
        padding-inline-start: 10px;
      }
    }

    .list-links {
      display: flex !important;
      flex-direction: column;
      gap: 10px;
    }
    .item-link > a {
      //color: white !important;
    }
  }
}

@media (max-width: 500px) {
  .swiper-wrapper {
    height: 550px;
  }

  .story-section {
    background-position: -89px 267px !important;
  }



}

@media (min-width: 501px) {
  .swiper {
    height: 700px;
  }
  .menu-wrapper {
    .list-links {
      display: none;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}